Data Bases/mydb2/clients.dtd

<!ELEMENT clients (row*)>
<!ELEMENT row (password,user,Age)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT user (#PCDATA)>
<!ELEMENT Age (#PCDATA)>

<!ATTLIST students coulmn0 CDATA #REQUIRED >
<!ATTLIST students coulmn1 CDATA #REQUIRED >
<!ATTLIST students coulmn2 CDATA #REQUIRED >
<!ATTLIST students sizeCol CDATA #REQUIRED >
<!ATTLIST students sizeRow CDATA #REQUIRED >

<!ATTLIST row id CDATA #REQUIRED >
