Data Bases/mydb2/students.dtd

<!ELEMENT students (row*)>
<!ELEMENT row (ID,Name,Age)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Age (#PCDATA)>

<!ATTLIST students coulmn0 CDATA #REQUIRED >
<!ATTLIST students coulmn1 CDATA #REQUIRED >
<!ATTLIST students coulmn2 CDATA #REQUIRED >
<!ATTLIST students sizeCol CDATA #REQUIRED >
<!ATTLIST students sizeRow CDATA #REQUIRED >

<!ATTLIST row id CDATA #REQUIRED >
