DBMS/Data Bases/mydb/clients.dtd

<!ELEMENT clients (row+)>
<!ELEMENT row (ID,Name,Age)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Age (#PCDATA)>

<!ATTLIST students coulmn0 NMTOKEN #REQUIRED >
<!ATTLIST students coulmn1 NMTOKEN #REQUIRED >
<!ATTLIST students coulmn2 NMTOKEN #REQUIRED >
<!ATTLIST students sizeCol NMTOKEN #REQUIRED >
<!ATTLIST students sizeRow NMTOKEN #REQUIRED >

<!ATTLIST row id NMTOKEN #REQUIRED >
